.MuiPaper-root-2{
    width: 300px;
    display: flex;
}

.content{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 600px;
    justify-content: space-evenly;
}

.temp{
    display: flex;
}

.MuiPaper-root-2{
    padding: 10px;
}